@media all and (-ms-high-contrast:none)
{
    .grid {
        display: -ms-grid;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        -ms-grid-rows: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
    }
    .grid-title {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .grid-item-1 {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
    }
    .grid-item-2 {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
    }
    .grid-item-3 {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
    }
    .grid-item-4 {
        -ms-grid-column: 1;
        -ms-grid-row: 7;
        -ms-grid-row-span: 3;
    }
    .grid-item-5 {
        -ms-grid-column: 3;
        -ms-grid-row: 5;
        -ms-grid-row-span: 3;
    }
    .grid-item-6 {
        -ms-grid-column: 5;
        -ms-grid-row: 5;
        -ms-grid-row-span: 3;
    }
    .grid-text {
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
        -ms-grid-row: 9;
        margin-top: 13px;
    }
    .grid-item-1, .grid-item-4 {
        margin: -31px 0 31px;
    }
    .subscribe-email {
        height: 16px;
    }
    .soft-desc {
        scrollbar-base-color: #1085e4;
        scrollbar-track-color: #f3f6ff;
        scrollbar-arrow-color: #f3f6ff;
        scrollbar-shadow-color: #1085e4;
    }
}
@media screen and (max-width: 1130px) and (-ms-high-contrast:none) {
    .grid {
        -ms-grid-columns: 1fr 350px 30px 350px 1fr;
        -ms-grid-rows: auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto;
    }
    .grid-title {
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
    }
    .grid-item-1 {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
    }
    .grid-item-2 {
        -ms-grid-column: 4;
        -ms-grid-row: 3;
    }
    .grid-item-3 {
        -ms-grid-column: 2;
        -ms-grid-row: 7;
    }
    .grid-item-4 {
        -ms-grid-column: 4;
        -ms-grid-row: 7;
    }
    .grid-item-5 {
        -ms-grid-column: 2;
        -ms-grid-row: 11;
    }
    .grid-item-6 {
        -ms-grid-column: 4;
        -ms-grid-row: 11;
    }
    .grid-text {
        -ms-grid-column: 2;
        -ms-grid-row: 15;
        margin-top: 0;
    }
    .grid-item-1, .grid-item-4 {
        margin: 0;
    }
}
@media screen and (max-width: 800px) and (-ms-high-contrast:none) {
    .grid {
        -ms-grid-columns: 1fr 450px 1fr;
        -ms-grid-rows: auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto;
    }
    .grid-title {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .grid-item-1 {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
    }
    .grid-item-2 {
        -ms-grid-column: 2;
        -ms-grid-row: 7;
    }
    .grid-item-3 {
        -ms-grid-column: 2;
        -ms-grid-row: 11;
    }
    .grid-item-4 {
        -ms-grid-column: 2;
        -ms-grid-row: 15;
    }
    .grid-item-5 {
        -ms-grid-column: 2;
        -ms-grid-row: 19;
    }
    .grid-item-6 {
        -ms-grid-column: 2;
        -ms-grid-row: 23;
    }
    .grid-text {
        -ms-grid-column: 1;
        -ms-grid-row: 27;
    }
}
@media screen and (max-width: 500px) and (-ms-high-contrast:none) {
    .grid {
        -ms-grid-columns: 1fr minmax(min-content, 348px) 1fr;
    }
    .grid-title {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }
}
