body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
a {
    text-decoration: none;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #6e7ea9;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.btns-overview a + a {
    margin-left: 16px;
}
.btn-primary {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1085e4;
    border-radius: 30px;
    border: 2px solid #1085e4;
    padding: 20px 39px;
}
.btn-free {
    padding: 20px 49px;
}
.btn-submit {
    font-size: 14px;
    letter-spacing: 2.8px;
    border-radius: 25px;
    padding: 15px 43px;
}
.btn-submit, .page-form .btn-primary {
    cursor: pointer;
}
.btn-stat2 {
    padding: 20px 62px;
}
.plans .btn-primary {
    padding: 20px 61px;
}
.btn-plan {
    background-color: transparent;
    color: #8085b1;
    border: 2px solid rgba(0,0,0,0.1);
}
.btn-primary:hover, .btn-primary:focus {
    color: #1085e4;
    background-color: #fff;
}
.btn-plan:hover, .btn-plan:focus {
    background-color: #fff;
    border: 2px solid #000;
    color: #8085b1;
}
h1 {
    font-size: 80px;
    line-height: 90px;
    font-weight: 600;
    letter-spacing: -2.4px;
    text-transform: capitalize;
    color: #192b59;
}
.grid h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.2px;
    color: #192b59;
}
.grid h2 span {
    display: block;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2.8px;
    color: #1085e4;
}
.grid-item h3 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.6px;
    color: #192b59;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}