/*Global*/
body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
}
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    text-decoration: none;
}

/*Button's*/
.btns-overview a + a {
    margin-left: 16px;
}
.btn-primary {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1085e4;
    border-radius: 30px;
    border: 2px solid #1085e4;
    padding: 19px 39px;
    -webkit-transition: color 0.2s, background-color 0.2s, border 0.2s;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}
.btn-free {
    padding: 20px 49px;
}
.btn-submit {
    font-size: 14px;
    letter-spacing: 2.8px;
    border-radius: 25px;
    padding: 15px 43px;
    position: absolute;
    bottom: 10px;
    right: 9px;
}
.btn-submit:hover,
.page-form .btn-primary:hover,
.btn-more:hover,
.btn-humburger:hover,
.btn-close:hover {
    cursor: pointer;
}
.btn-submit:focus,
.page-form .btn-primary:focus,
.btn-more:focus,
.btn-humburger:focus,
.btn-close:focus {
    outline: none;
}
.btn-stat2 {
    padding: 20px 62px;
}
.plans .btn-primary {
    padding: 20px 61px;
}
.btn-plan {
    background-color: transparent;
    color: #8085b1;
    border: 2px solid rgba(0,0,0,0.1);
}
.btn-contact {
    padding: 21px 50px 22px 54px;
}
.btn-primary:hover, .btn-primary:focus {
    color: #1085e4;
    background-color: transparent;
}
.btn-plan:hover, .btn-plan:focus {
    background-color: #8085b1;
    border: 2px solid #8085b1;
    color: #fff;
}
.btn-more:hover, .btn-more:focus {
    color: #fff;
    background-color: #1a88e1;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*h1+h2*/
h1, 
.header40, 
.header50 {
    font-weight: 600;
    color: #192b59;
}
h1 {
    font-size: 80px;
    line-height: 1.125;
    letter-spacing: -2.4px;
    max-width: 540px;
    text-transform: capitalize;
    margin-bottom: 64px;
}
.header40 {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.03em;
}
.header50 {
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    white-space: pre-wrap;
}
.page-stats .header50,
.page-plans .header40,
.page-team .header40,
.page-details .header40 {
    text-align: center;
    margin: 0 auto;
}
.page-subscribe .header50 {
    margin: 65px 0 28px;
}
.page-grid .header40 {
    font-weight: 700;
    margin: 0 0 20px;
}
.page-subscribe .header50,
.page-testimonials .header40,
.page-team .header40 {
    color: #fff;
}
.page-stats .header50 {
    max-width: 402px;
    margin-bottom: 60px;
}
.page-app .header50 {
    max-width: 456px;
    margin: 0 0 36px;
}
.page-soft_stats .header50, 
.page-soft_stats2 .header50 {
    margin: 0 auto 27px;
}
.page-details .header40 {
    margin-bottom: 69px;
}
.page-testimonials .header40 {
    margin: 0 0 60px;
}
.page-plans .header40 {
    margin-bottom: 81px;
}
.page-team .header40 {
    margin-bottom: 137px;
}
.page-form .header50 {
    margin: 76px 0 49px;
}
.subheader {
    display: block;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #1085e4;
    margin-bottom: 14px;
}
.page-grid .subheader,
.page-subscribe .subheader {
    font-size: 14px;
    letter-spacing: 2.8px;
}
.page-subscribe .subheader {
    color: #00bffe;
}
.page-stats .subheader {
    font-size: 16px;
    letter-spacing: 3.2px;
}
.page-testimonials .subheader,
.page-team .subheader {
    color: #85c8ff;
}
.page-details .subheader {
    margin-bottom: 17px;
}
.page-plans .subheader,
.page-team .subheader {
    margin-bottom: 18px;
}
.page-subscribe .subheader,
.page-testimonials .subheader {
    margin-bottom: 19px;
}

/*Grid + flex + main styles*/
/*header*/
.box-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 304px;
}
.box-header,
.page-header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.logo {
    display: block;
    -ms-flex-preferred-size: 181px;
        flex-basis: 181px;
    height: 49px;
    background-image: url(../img/header/big_logo.png);
    background-repeat: no-repeat;
    background-position: center;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -ms-flex-preferred-size: 71.3%;
        flex-basis: 71.3%;
}
.nav-item {
    color: #6e7ea9;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.nav-item:hover, .nav-item:focus {
    color: #1085e4;
}
.page-header .nav li {
    margin-right: 10px;
}
.page-header .nav li:last-child {
    margin-right: 0;
}
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 21px 0;
}
.nav-mobile li {
    margin-bottom: 21px;
}
.nav-mobile li:first-child {
    margin-bottom: 0;
}
.nav-mobile li:last-child {
    margin-top: 41px;
}
.btn-humburger, .btn-close {
    padding: 0;
    border: none;
    background-color: transparent;
}
.btn-humburger {
    display: none;
}
.btn-humburger svg {
    width: 49px;
    height: 49px;
    vertical-align: bottom;
}
.nav-mobile li:first-child {
    position: absolute;
    right: 15px;
    top: 4px;
}
.btn-close {
    font-size: 86px;
    line-height: 1;
}
.header-screen {
    position: absolute;
    bottom: 151px;
    right: 0;
    width: 46.614583333%;
    max-width: 895px;
    /* height: 740px; */
    background-image: url(../img/header/header_img.png);
    padding-top: 38.5%;
}
/*sponsors*/
.sponsors-list {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.sponsors-list li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    height: 69px;
    background-repeat: no-repeat;
    background-position: center;
}
.first-sponsor {
    background-image: url(../img/sponsors/token_logo.png);
    background-size: 198px 58px;
}
.second-sponsor {
    background-image: url(../img/sponsors/magneto_logo.png);
    background-size: 200px 69px;
}
.third-sponsor {
    background-image: url(../img/sponsors/boohoo_logo.png);
    background-size: 201px 47px;
}
.fourth-sponsor {
    background-image: url(../img/sponsors/fractal_logo.png);
    background-size: 200px 69px;
}
/*grid*/
.grid {
    display: grid;
    grid-template-areas: "a c d"
                         "b c d"
                         "b f g"
                         "e f g"
                         "e h h";
    max-width: 1110px;
    margin: 0 auto;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.grid-title  {grid-area: a;}
.grid-item-1 {grid-area: b;}
.grid-item-2 {grid-area: c;}
.grid-item-3 {grid-area: d;}
.grid-item-4 {grid-area: e;}
.grid-item-5 {grid-area: f;}
.grid-item-6 {grid-area: g;}
.grid-text   {grid-area: h;}

.grid-item {
    text-align: center;
    -webkit-box-shadow: 0 8px 16px 0 rgba(180,181,181,0.2);
            box-shadow: 0 8px 16px 0 rgba(180,181,181,0.2);
    border-radius: 10px;
    padding: 39px 39px 63px;
}
.grid-item-4 {
    margin: -31px 0 3px; /*NEGATIVE MARGIN!!!*/
}
.grid p {
    margin: 0;
}
.grid-ico {
    height: 92px;
    margin-bottom: 32px;
    background-repeat: no-repeat;
} 
.grid-item-1 .grid-ico {
    background-image: url(../img/grid/mobile_ico.png);
    background-size: 79px 82px;
    background-position: center 9px;
}
.grid-item-2 .grid-ico {
    background-image: url(../img/grid/doc_ico.png);
    background-size: 73px 79px;
    background-position: center 13px;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
}
.grid-item-3 .grid-ico {
    background-image: url(../img/grid/work_ico.png);
    background-size: 89px 85px;
    background-position: center 6px;
}
.grid-item-4 .grid-ico {
    background-image: url(../img/grid/edit_ico.png);
    background-size: 103px 92px;
    background-position: center -1px;
}
.grid-item-5 .grid-ico {
    background-image: url(../img/grid/resp_ico.png);
    background-size: 85px 90px;
    background-position: center 1px;
}
.grid-item-6 .grid-ico {
    background-image: url(../img/grid/sup_ico.png);
    background-size: 100px 87px;
    background-position: center 4px;
}
.grid-item-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.6px;
    color: #192b59;
    margin: 0 0 15px;
}
.grid-item p {
    margin-bottom: 16px;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}
.grid-item a:hover, .grid-item a:focus {
    text-decoration: underline;
}
.grid-text {
    padding-left: 20px;
}
.grid-name {
    padding-top: 11px;
    padding-left: 6px;
    font-weight: 800;
    letter-spacing: -0.48px;
    color: #192b59;
}
.grid-position {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #1085e4;
}
/*email-subscribe*/
.box-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
}
.subscribe {
    -ms-flex-preferred-size: 540px;
        flex-basis: 540px;
}
.subscribe-form {
    position: relative;
}
.subscribe p {
    font-size: 18px;
    line-height: 1.5555;
    color: #dfe8ff;
    margin: 18px 0 37px;
}
.subscribe-email {
    font-size: 14px;
    color: #dfe8ff;
    background-color: transparent;
    width: calc(100% - 249px);
    border-radius: 35px;
    padding: 24px 207px 26px 38px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
.subscribe-email::placeholder               {color: #b1c3ee;}
.subscribe-email::-webkit-input-placeholder {color: #b1c3ee;}
.subscribe-email::-moz-placeholder          {color: #b1c3ee;opacity: 1;}
.subscribe-email:-moz-placeholder           {color: #b1c3ee;}
.subscribe-email:-ms-input-placeholder      {color: #b1c3ee;}
.subscribe-email::-ms-input-placeholder     {color: #b1c3ee;}
.subscribe-email:focus {
    outline: none;
}
.subscribe-android {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
    height: 417px;
}
/*page-software*/
.software-note {
    position: absolute;
    bottom: 125px;
    left: 0;
    width: 48.489583333%;
    max-width: 931px;
    padding-top: 39.6%;
    /* height: 760px ;*/
    background-image: url(../img/soft_feature/notebook_feature.png);
}
.software-box {
    padding-left: 45.405405405%;
}
.tools-ico {
    width: 115px;
    height: 97px;
    background-image: url(../img/soft_feature/tools_ico.png);
    margin-bottom: 8px;
    margin-left: -26px;
}
.software-box .header50 {
    margin: 0 0 26px;
}
.software-box-text {
    margin: 0 0 30px;
}
.soft-desc {
    height: 309px;
    overflow-y: scroll;
}
.soft-desc-title {
    font-weight: 700;
    color: #5a6789;
}
.soft-desc-exp {
    margin: 10px 0 0;
    padding-right: 47px;
    font-size: 14px;
    line-height: 1.7152;
    font-weight: 400;
}
.soft-desc-exp::after {
    display: block;
    content: '';
    border-top: 1px solid #f2f2f2;
    margin: 25px 0 26px;
}
.soft-desc-exp:last-child::after {
    display: none;
}
.soft-desc::-webkit-scrollbar {
    width: 17px;
}
.soft-desc::-webkit-scrollbar-track {
    border-radius: 8.5px;
    background-color: #f3f6ff;
}
.soft-desc::-webkit-scrollbar-thumb {
    border-radius: 8.5px;
    background-color: #1085e4;
}
/*dashboard-stats*/
.list-stats {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-align: center;
    text-transform: uppercase;
    color: #1085e4;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.list-stats li span {
    display: block;
    font-size: 60px;
    letter-spacing: -1.8px;
    line-height: 1;
    color: #bacbdc;
    margin-bottom: 9px;
}
/*page-app*/
.flex-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.flex-box {
    -ms-flex-preferred-size: 54%;
        flex-basis: 54%;
}
.flex-box p {
    margin: 0;
}
.flex-box p + p {
    margin: 27px 0 18px;
    font-weight: 700;
    letter-spacing: 3.2px;
    color: #c4d2dd;
    text-transform: uppercase;
}
.market-ref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    right: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.market-ref a {
    display: block;
}
.gplay {
    width: 189px;
    height: 81px;
    background-image: url(../img/video/google_play_ico.png);
    background-repeat: no-repeat;
    background-position: center;
}
.appstore {
    width: 180px;
    height: 81px;
    background-image: url(../img/video/app_store_ico.png);
    background-repeat: no-repeat;
}
.app-video {
    position: absolute;
    top: 52px;
    right: 109px;
    max-width: 561px;
    width: 38%;
}
.page-soft_stats .flex-app, 
.page-soft_stats2 .flex-app,
.page-form .flex-app,
.footer .flex-app {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.page-soft_stats .flex-box {
    -ms-flex-preferred-size: 54.4%;
        flex-basis: 54.4%;
}
.page-soft_stats2 .flex-box {
    padding-left: 32px;
}
.page-soft_stats p, .page-soft_stats2 p {
    margin-bottom: 50px;
}
.stats1 {
    position: relative;
    top: 13px;
    right: 21px;
}
.stats2 {
    position: relative;
    top: 12px;
    left: 22px;
}
.app-video img,
.stats1,
.stats2,
.stats3,
.Screen {
    max-width: 100%;
    vertical-align: bottom;
}
.Screen {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/*page-testimonials*/
.page-testimonials .wrapper {
    position: relative;
    top: 49px;
}
.box-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box-item {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 16px 32px 0px rgba(185, 185, 185, 0.2);
            box-shadow: 0px 16px 32px 0px rgba(185, 185, 185, 0.2);
    padding: 34px 0 13px;
} 
.box-item-text {
    font-size: 14px;
    line-height: 1.7152;
    color: #8085b1;
    margin: 0 0 27px;
}
.box-item .person::before{
    content: url(../img/avatar_rolin_mirano.png);
    float: left;
    margin-right: 19px;
    margin-left: -4px;
}
.box-item .person {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #1085e4;
}
.box-item .person span {
    display: block;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.66px;
    line-height: 1.1;
    text-transform: capitalize;
    color: #000958;
    margin-bottom: 3px;
}
.box-item-text, .box-item .person {
    padding: 0 58px 0 40px;
}
/*plans*/
.plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.plans-item h3 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2.1px;
    line-height: 1;
    text-align: center;
    margin: 0 0 15px;
    color: #000958;
}
.plans-item h3 span {
    font-size: 20px;
    letter-spacing: -0.6px;
}
.plans-item h3 span:last-child {
    color: #7b8ab2;
}
.plans-item p {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    text-align: center;
    color: #0084ff;
    margin: 0 0 39px;
}
.plans-bonuses {
    list-style-type: none;
    padding: 0;
    margin: 0 0 63px;
    font-size: 14px;
    text-align: center;
    color: #8085b1;
}
.plans-bonuses li {
    margin-bottom: 18px;
}
.plans-bonuses li:last-child {
    margin-bottom: 0;
}
.active-plan h3, .active-plan p, .active-plan .plans-bonuses {
    color: #fff;
}
/*page-team*/
.box-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box-team-item {
    position: relative;
    background-color: #fff;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(156, 156, 156, 0.1);
            box-shadow: 0px 8px 30px 0px rgba(156, 156, 156, 0.1);
    padding: 209px 0 39px;
    text-align: center;
}
.ava-team-member {
    position: absolute;
    bottom: 199px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 82.285714285%;
}
.team-member {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -0.78px;
    color: #192b59;
    margin: 0 0 21px;
}
.team-member span {
    display: block;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2.8px;
    color: #1a88e1;
    text-transform: uppercase;
}
.btn-more {
    display: none; /*no js no button*/
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.666666666;
    color: #a1aecf;
    background-color: #f3f3f3;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
    border: none;
    padding: 0;
    -webkit-transition: color 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
    transition: color 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}
.page-team .fab {
    font-size: 14px;
    color: #9ea6b1;
    background-color: #fafafa;
    width: 50px;
    padding: 18px 0;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-transition: color 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
    transition: color 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}
.page-team .fab:last-child {
    margin-right: 0;
}
.page-team .fab:hover, .page-team .fab:focus{
    color: #fff;
    background-color: #1a88e1;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
/*page-form*/
.stats3 {
    position: relative;
    top: 45px;
    right: 22px;
}
.contact-form {
    -ms-flex-preferred-size: 514px;
        flex-basis: 514px;
    margin-right: 95px;
}
.contact-form-item {
    width: calc(100% - 98px);
    display: block;
    font-size: 14px;
    color: #192b59;
    background-color: #fff;
    border-radius: 35px;
    border: 2px solid rgba(72, 72, 72, 0.1);
    padding: 25px 55px 25px 39px;
    margin-bottom: 20px;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}
.item-message {
    resize: none;
    padding-bottom: 20px;
    margin-bottom: 39px;
}
.contact-form form {
    position: relative;
}
.page-form .fas {
    margin: 0;
    font-size: 14px;
    color: #8995b3;
    position: absolute;
    right: 39px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.page-form .fa-user {
    top: 28px;
}
.page-form .fa-envelope {
    top: 119px;
}
.page-form .fa-pen {
    top: 209px;
}
.contact-form-item::placeholder               {color: #8995b3;}
.contact-form-item::-webkit-input-placeholder {color: #8995b3;}
.contact-form-item::-moz-placeholder          {color: #8995b3;opacity: 1;}
.contact-form-item:-moz-placeholder           {color: #8995b3;}
.contact-form-item:-ms-input-placeholder      {color: #8995b3;}
.contact-form-item::-ms-input-placeholder     {color: #8995b3;}
.contact-form-item:focus {
    outline: none;
    border: 2px solid #1a88e1;
}
.item-name:focus ~ .fa-user,
.item-email:focus ~ .fa-envelope,
.item-message:focus ~ .fa-pen {
    color: #1a88e1;
}
/*footer*/
.footer p {
    color: #8c94bc;
}
.footer-logo {
    text-transform: uppercase;
    color: #1085e4;
}
.footer-logo:hover, .footer-logo:focus {
    text-decoration: underline;
}
.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social li {
    margin-right: 25px;
}
.social li:last-child {
    margin-right: 0;
}
.social .fab {
    font-size: 16px;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.social .fab:hover, .social .fab:focus {
    color: #1a88e1;
}

/*Background's and Pages*/
.page-header,
.page-company,
.page-software,
.page-stats,
.page-app,
.page-soft_stats,
.page-soft_stats2,
.plans-item,
.page-team,
.page-form {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-header {
    position: relative;
    padding: 54px 0 330px;
    background-image: url(../img/header/header_background.png);
}
.page-company {
    padding: 100px 0 105px;
    background-image: url(../img/sponsors/sponsor_background.png);
}
.page-grid {
    padding: 120px 0 117px;
}
.page-subscribe {
    padding: 52px 0; 
    background: #0a2090;
    background: linear-gradient(120deg, #0a2090 0%, #2377cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2377cd', GradientType=1 );
}
.page-software {
    position: relative;
    padding: 113px 0 179px;
    background-image: url(../img/soft_feature/soft_background.png);
    z-index: 0;
}
.page-stats {
    position: relative;
    padding: 117px 0 114px;
    background-color: #edf6ff;
    z-index: 0;
}
.rhomb-bg, .circle-bg, .software-note, .header-screen {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.rhomb-bg {
    position: absolute;
    top: -171px;
    right: 0;
    width: 31.302083333%;
    max-width: 601px;
    /* height: 672px; */
    padding-top: 35%;
    background-image: url(../img/rhomb.png);
    z-index: -1;
}
.circle-bg {
    position: absolute;
    bottom: -218px;
    left: 0;
    width: 23.177083333%;
    max-width: 445px;
    /* height: 663px; */
    padding-top: 34.55%;
    background-image: url(../img/circle.png);
    z-index: -1;
}
.page-app {
    position: relative;
    padding: 111px 0 99px;
}
.intro-bg {
    font-weight: 800;
    font-size: 300px;
    letter-spacing: -9px;
    line-height: 1;
    color: rgba(0,0,0,0.04);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    z-index: -1;
}
.page-soft_stats {
    padding: 119px 0 139px;
    background-image: url(../img/stats/stats_background.png);
}
.page-soft_stats2 {
    padding: 120px 0 139px;
    background-image: url(../img/samirasa/samirasa_background.png);
}
.page-details {
    padding-top: 117px;
    text-align: center;
    background-color: #edf6ff;
}
.page-testimonials {
    padding: 120px 0 104px;
}
.blue-bg {
    background-color: #1085e4;
    border-top-right-radius: 400px;
    width: calc(1110px + (100% - 1110px) * 0.75);
    padding-top: 26px;
}
.page-plans {
    padding: 60px 0 120px;
}
.plans-item {
    -ms-flex-preferred-size: 31.5599%;
        flex-basis: 31.5599%;
    padding: 68px 0 98px;
    text-align: center;
    background-image: url(../img/plans_background.png);
    background-position: right;
}
.active-plan {
    background-color: #192b59;
    background-image: none;
}
.page-team {
    padding: 115px 0 120px;
    background-image: url(../img/team/team_background.png);
}
.page-form {
    padding: 35px 0 120px;
    background-image: url(../img/contact/contact_background.png);
}
.footer {
    padding: 5px 0 7px;
    background-color: #192b59;
}

/*Media*/
@media screen and (min-width: 1920px) {
    .header-screen,
    .software-note,
    .rhomb-bg,
    .circle-bg {
        padding-top: 0;
    }
    .header-screen {
        height: 740px;
    }
    .software-note {
        height: 760px;
    }
    .rhomb-bg {
        height: 672px;
    }
    .circle-bg {
        height: 663px;
    }
}
@media screen and (max-width: 1300px) {
    /*page-app*/
    .page-app {
        padding: 411px 0 48px;
    }
    .app-video {
        top: 54px;
        right: calc(50% - 150px);
        width: 300px;
    }
    .flex-box {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        text-align: center;
    }
    .page-app .header50 {
        margin: 0 auto 36px;
    }
    .market-ref {
        position: static;
        right: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .intro-bg {
        top: 300px;
    }
    .flex-box-text {
        text-align: left;
    }
    /*page-soft-stats & page-soft-stats2*/
    .page-soft_stats, .page-soft_stats2 {
        padding: 59px 0 69px;
    }
    .page-soft_stats .flex-app {
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .page-soft_stats2 .flex-app {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .page-soft_stats .flex-box {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .page-soft_stats2 .flex-box {
        padding-left: 0;
    }
    .page-soft_stats .header50 {
        max-width: 506px;
    }
    .stats1, .stats2 {
        top: 30px;
        left: auto;
        right: auto;
    }
    .tools-ico {
        margin: 0 auto 8px;
    }
    .page-soft_stats p, .page-soft_stats2 p {
        color: rgb(64, 64, 64);
    }
    /*page-software*/
    .page-software .tools-ico {
        margin: 0 0 8px -26px;
    }
    /*footer*/
    .footer .flex-app {
        -webkit-box-pack: justify;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}
@media screen and (max-width: 1200px) {
    /*page-software*/
    .soft-desc {
        margin-right: 36px;
    }
}
@media screen and (max-width: 1130px) {
    /*header*/
    .page-header {
        padding: 25px 0 238px;;
    }
    .box-header {
        margin-bottom: 186px;
    }
    .main-header {
        text-align: center;
    }
    h1 {
        margin-left: auto;
        margin-right: auto;
    }
    .header-screen {
        display: none;
    }
    /*grid*/
    .page-grid {
        padding: 60px 0 58px;
    }
    .grid {
        grid-template-areas: "a a"
                             "b c"
                             "b c"
                             "d e"
                             "d e"
                             "f g"
                             "f g"
                             "h h";
        grid-template-columns: 350px 350px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .page-grid .header40 {
        margin: 0;
        text-align: center;
    }
    .page-grid .subheader {
        margin-bottom: 0;
    }
    .grid-item-4 {
        margin: 0;
    }
    .grid-text, .grid-name {
        padding-left: 0;
    }
    /*page-testimonials*/
    .page-testimonials {
        padding: 45px 0 25px;
    }
    .box-comment {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .box-item {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        padding: 34px 40px 13px;
        margin-bottom: 20px;
        max-width: 500px;
    }
    .box-item-text, .box-item .person {
        padding: 0;
    }
    .box-item .person {
        margin-left: auto;
        margin-right: auto;
        max-width: 221px;
    }
    .blue-bg {
        width: 100%;
    }
    .page-testimonials .header40 {
        text-align: center;
    }
    /*page-team*/
    .page-team {
        padding: 57px 0 60px;
        background-image: url(../img/team/team_bg_light.png), url(../img/team/team_bg.png);
        background-position: center top, center 326px;
        background-size: cover;
    }
    .box-team {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .box-team-item {
        width: 350px;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        margin-bottom: 106px;
    }
    .box-team-item:last-child {
        margin-bottom: 0;
    }
    /*page-form*/
    .page-form {
        padding: 35px 0 40px;
        background-position-x: 86%;
    }
    .page-form .flex-app {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .contact-form {
        margin-right: 0;
        text-align: center;
    }
    .stats3 {
        display: none;
    }
    .page-form .header50 {
        margin: 0 0 49px;
    }
}
@media screen and (max-width: 1110px) {
    /*page-software*/
    .page-software {
        padding: 56px 0 89px;
        background-image: none;
        z-index: 1;
    }
    .software-box .header50 {
        white-space: normal;
        max-width: 525px;
        margin: 0 auto 26px;
        text-align: center;
    }
    .page-software .tools-ico {
        margin: 0 auto 8px;
    }
    .software-note {
        display: none;
    }
    .software-box {
        padding-left: 0;
    }
    .soft-desc {
        margin-right: 106px;
    }
    .soft-desc-exp {
        padding-right: 0;
    }
}
@media screen and (max-width: 1024px) {
    /*sponsors*/
    .sponsors-list li {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
    .first-sponsor, .second-sponsor {
        margin-bottom: 15px;
    }
    .page-company {
        padding: 58px 0 63px;
    }
    /*email-subscribe*/
    .page-subscribe {
        padding: 22px 0 32px;
    }
    .page-subscribe .header50 {
        margin-top: 35px;
    }
    .page-subscribe .subheader {
        margin-bottom: 0;
    }
    .box-subscribe {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .subscribe {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        text-align: center;
    }
    .subscribe p br {
        display: none;
    }
    .subscribe-android {
        height: 208px;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    }
    .subscribe-form {
        width: 674px;
        margin: 0 auto;
    }
    /*page-stats*/
    .rhomb-bg {
        top: 0;
    }
    .circle-bg {
        bottom: 0;
    }
    /*page-details*/
    .page-details {
        padding-top: 58px;
    }
    .page-details .header40 {
        margin-bottom: 34px;
    }
    .Screen {
        display: none;
    }
    .box-screens {
        padding: 0 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .Screen1, .Screen2 {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 auto;
    }
    .Screen1 {
        max-width: 283px;
        height: 405px;
        background-image: url(../img/material_pro_screenshot_part1.png);
        margin-bottom: 20px;
    }
    .Screen2 {
        max-width: 691px;
        height: 490px;
        background-image: url(../img/material_pro_screenshot_part2.png);
    }
}
@media screen and (max-width: 915px) {
    /*header*/
    .logo {
        margin: 0 auto 37px;
    }
    .page-header .nav {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    /*page-plans*/
    .page-plans {
        padding: 60px 0;
    }
    .plans {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .plans-item {
        width: 520px;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        margin-bottom: 20px;
    }
    .page-plans .header40 {
        margin-bottom: 55px;
    }
}
@media screen and (max-width: 800px) {
    /*grid*/
    .grid {
        grid-template-areas: "a a a"
                             ". b ."
                             ". b ."
                             ". c ."
                             ". c ."
                             ". d ."
                             ". d ."
                             ". e ."
                             ". e ."
                             ". f ."
                             ". f ."
                             ". g ."
                             ". g ."
                             "h h h";
        grid-template-columns: 1fr 450px 1fr;
        gap: 30px normal;
    }
    /*email-subscribe*/
    .subscribe p br {
        display: inline;
    }
    .subscribe-form {
        width: 100%;
        max-width: 540px;
    }
    /*page-stats*/
    .page-stats {
        padding: 63px 0 60px;
    }
    .list-stats li {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
    .list-stats li:nth-child(1), .list-stats li:nth-child(2) {
        margin-bottom: 20px;
    }
    /*page-app*/
    .page-app {
        padding: 354px 0 48px;
    }
    .app-video {
        top: 41px;
    }
    .intro-bg {
        display: none;
    }
    /*page-soft-stats2*/
    .page-soft_stats p, .page-soft_stats2 p {
        color: #7581a1;
    }
    /*footer*/
    .footer {
        padding: 18px 0 7px;
    }
    .footer .flex-app {
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }
    .footer p {
        font-size: 14px;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
}
@media screen and (max-width: 738px) {
    /*page-details*/
    .Screen2 {
        height: 0;
        padding-top: 70.911722141%;
    }
}
@media screen and (max-width: 649px) {
    /*header*/
    .page-header .nav {
        text-align: center;
    }
    .page-header .nav li {
        margin-right: 0;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
        margin-bottom: 10px;
    }
    .page-header .nav li:last-child {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin-top: 22px;
        margin-bottom: 0;
    }
    /*page-testimonials*/
    .box-comment {
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }
    .box-item {
        max-width: none;
    }
}
@media screen and (max-width: 590px) {
    /*header*/
    .page-header {
        padding: 25px 0 160px;
    }
    .box-header {
        margin-bottom: 135px;
    }
    .main-header {
        padding: 0 5px;
    }
    h1 {
        font-size: 50px;
        font-weight: 700;
    }
    .btns-overview a {
        display: inline-block;
    }
    /*page-testimonials*/
    .page-testimonials .header40 {
        max-width: 210px;
        margin: 0 auto 60px;
    }
}
@media screen and (max-width: 570px) {
    .plans-item {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    /*header*/
    .nav-mobile li:first-child {
        right: 15px;
    }
    /*sponsors*/
    .sponsors-list li {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .first-sponsor {
        background-size: 138px 40px;
        margin-bottom: 0;
    }
    .second-sponsor {
        background-size: 140px 48px;
        margin-bottom: 0;
    }
    .third-sponsor {
        background-size: 140px 33px;
    }
    .fourth-sponsor {
        background-size: 140px 48px;
    }
    .page-company {
        padding: 29px 0 32px;
    }
    /*grid*/
    .grid {
        grid-template-areas: "a" "b" "b" "c" "c" "d" "d" "e" "e" "f" "f" "g" "g" "h";
        grid-template-columns: minmax(auto, 348px); /*1 column*/
    }
    /*email-subscribe*/
    .btn-submit {
        position: static;
        right: auto;
        bottom: auto;
    }
    .subscribe-email {
        width: calc(100% - 80px);
        padding: 24px 38px 26px;
        margin-bottom: 20px;
    }
    /*page-software*/
    .soft-desc {
        margin-right: 56px;
    }
    /*page-app*/
    .page-subscribe .header50,
    .page-stats .header50,
    .page-app .header50,
    .page-testimonials .header40,
    .page-form .header50 {
        margin-bottom: 27px;
    }
    .header40, .header50 {
        font-size: 32px;
        line-height: 1.3125;
    }
    /*page-details*/
    .Screen1 {
        margin-bottom: 0;
    }
    .Screen2 {
        display: none;
    }
    /*page-team*/
    .box-team-item {
        width: 270px;
        padding: 167px 0 39px;
    }
    .page-team .header40 {
        margin-bottom: 97px;
    }
}
@media screen and (max-width: 461px) {
    /*header*/
    .btns-overview a:first-child {
        margin-bottom: 20px;
    }
    .btns-overview a + a {
        margin-left: 0;
        padding: 19px 61px 19px 62px;
    }
}
@media screen and (max-width: 415px) {
    /*page-app*/
    .gplay {
        background-image: url(../img/video/google_play_ico_180.png)
    }
    /*page-testimonials*/
    .box-item {
        padding: 34px 20px 13px;
    }
}
